<div class="row mt-5">
  <div class="col-xs-12 col-md-6 offset-md-3 col-lg-4 offset-lg-4">
    <h1 class="h3 text-center mb-4">爸爸的<span class="fs-6">偷偷花帳本<i class="fas fa-heartbeat"></i></span></h1>
    <div class="input-group mb-3">
      <form action="/records/filter" id="form" method="POST" onchange='form.submit()'>
        <select class="form-select" id="inputGroupSelect01" name="select">
          <option disabled selected>請選擇類別</option>
          <option value="1">家居物業</option>
          <option value="2">交通出行</option>
          <option value="3">休閒娛樂</option>
          <option value="4">餐飲食品</option>
          <option value="5">其他</option>
        </select>
      </form>
    </div>
    <p class="h4"><strong>總金額:</strong></p>
    <div class="totalAmount">{{totalAmount}}</div>
    {{#each records}}
    <div class="input-group mb-3">
        <ul class="list">
          <li class=" float-end">
            <section>
              <div class="icon">{{{icon}}}</div>
              <div class="todo">
                <span class="what">{{this.name}}</span>
                <span class="time">{{this.date}}</span>
              </div>
              <div class="amount">{{this.amount}}</div>
            </section>
            <div class="btns">
              <a href="/records/{{this._id}}/edit" class="btn btn-outline-secondary">修改</a>
              <form action="/records/delete/{{this._id}}" method="post" style="display: inline">
                <button type="submit" class="btn btn-outline-danger">刪除</button>
              </form>
            </div>
          </li>
        </ul>
    </div>
    {{/each}}
    <div class="input-group mb-3">
      <a href="/records/new" class="btn btn-add">新增支出</a>
    </div>


  </div>
</div>
